
#game{
    position: relative;
    background-color: gray;
    width: 100vw;
    height: 100vh;
}
.obstacle {
    position: absolute;
    background-color: black;
}

#player {
    position: absolute;
    background-color: black;
    left: 49.5%;
    bottom: 0%;
    width: 1.5%;
    height: 15%;
}

#circle{
    position: absolute;
    background-color: darkgray;
    left: 49.5%;
    bottom: 14.4%;
    width: 1.5%;
    height: 1%;
    border-radius: 50%;
}

.bullet {
    position: absolute;
    background-color: black;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

#counter {
    position: absolute;
    color: black;
    left: 3%;
    bottom: 90%;
    width: 10vw;
    height: 5vh;
    font-size: 2vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#gameover {
    position: absolute;
    left: 35%;
    bottom: 45%;  
    width: 30%;
    height: 10vh;
    font-size: 6vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.stickyBullet {
    position: absolute;
    background-color: black;
    left: 30.5%;
    bottom: 0%;
    width: 15%;
    height: 15%;
}