
#game{
    position: relative;
    background-color: gray;
    width: 100vw;
    height: 100vh;
}
.obstacle {
    position: absolute;
    background-color: black;
}

#player {
    position: absolute;
    background-color: black;
    left: 50%;
    bottom: 0%;
    width: 0.5vw;
    height: 15vh;
}

.bullet {
    position: absolute;
    background-color: black;
}

#counter {
    position: absolute;
    color: black;
    left: 3%;
    bottom: 90%;
    width: 10vw;
    height: 5vh;
    font-size: 2vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

class Counter extends Main{
    constructor(){
        super('counter', 5, 95, 5, 5)
    }
}